/* Site-wide */

html,
body {
  font-family: Helvetica Neue;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-size:.9rem;
}

a:focus {
  outline: 0;
}

br {
  font-size: 0.1rem;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.smaller-text {
  font-size: 0.8rem !important;
}

.nav-tabs {
  border: none !important;
}

#Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#Navbar li {
  float: left;
}

#Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#Navbar li a:hover {
  background-color: #111;
}

#Navbar .active {
  background-color: #333;
}

.nav-item:hover {
  cursor: pointer;
}

/* US Map */

.mapContainer {
  margin: auto;
  margin-top: 50px;
  width: 85%;
  max-width: 800px;
}

#us-map {
  width: 100%;
  height: 100%;
}

#TX:hover,
#FL:hover,
#AK:hover,
#CA:hover {
  /*  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;*/
  fill: #0eca00 !important;
  cursor: pointer;
}

#path67 {
  fill: none !important;
  stroke: #a9a9a9 !important;
  cursor: default;
}

/* State left column */

.breadcrumb {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white !important;
}

.col-sm-7 {
  margin-bottom: 30px;
}

.shortWrap {
  max-width: 800px;
  margin-left:2.5%;
}

.headerContainer {
  margin-top: 25px;
  margin-left: 5%;
}

.pageContainer {
  margin: auto;
  /*margin-top:30px;*/
  width: 90%;
  max-width: 2000px;
}

.letterGrades {
  font-size: 1.5rem;
  margin-top: -5px;
  vertical-align: middle;
  display: inline-block;
  /*color: white;
  float: right;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  margin-top: -76px;
  margin-right: -10px;*/
}

.candidates {
  margin-bottom: 30px;
  font-size: 1.3rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.candidates img {
  width: 100%;
  max-width: 200px;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  /*  border: 1px solid black;
*/
  opacity: 0.85;
  transition: 0.3s;
}

.candidates button:hover {
  width: 40%;
  background-color: white;
  color: black;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);*/
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.candidates button:hover img {
  opacity: 1 !important;
  transition: 0.3s;
}

.candidates .active img {
  opacity: 1 !important;
  transition: 0.3s;
}

.candidates button {
  width: 40%;
  background-color: white;
  color: black;
  margin-right: 5%;
  padding: 0px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  border-color: rgb(222, 226, 230) !important;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  /*background-color: #e9ecef !important;*/
  /*color: black !important;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-color: #545b62 !important;
}

/* TARGET DEVICES WITH NO HOVER OR SIMULATED HOVER (I.E. IOS) */
/* MAKE SAME AS .CANDIDATES BUTTON */
@media (hover: none) {
  .candidates button:hover {
    background-color: white;
    color: black;
  }
  .candidates button:hover img {
  opacity: 0.85 !important;
  transition: 0.3s;
}
.candidates .active img {
  opacity: 1 !important;
  transition: 0.3s;
}

  
}


#textbox {
  padding: 2px 10px;
  text-align: left;
  margin-top: 10px;
}

/* State right column */

.col-sm-5 {
  margin-bottom: 30px;
}

#MyVotes {
  max-width: 400px !important;
}

.votes img {
  width: 35px;
  border-radius: 5%;
  border: 1px solid #545b62;
}

.table tr:first-child,
.table tr:first-child td {
  border-top: none !important;
}

.table tr td:first-child {
  width: 50px;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .printButton {
    visibility: hidden;
    width: 0px !important;
  }
}

.SocialMediaShareButton,
.printButton {
  margin: 3px;
  width: 25px;
  vertical-align: middle !important;
  display: inline-block;
}

.printButton {
  margin-top: 6px;
}

.ShareSection .row div {
  margin: 5px;
}

.SocialMediaShareButton:hover,
.printButton:hover {
  cursor: pointer;
  opacity: 0.8 !important;
  transition: 0.3s;
}

.SocialMediaShareButton,
.printButton {
  opacity: 1;
  transition: 0.3s;
}

.social-icon--whatsapp {
  display: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom-color: rgb(222, 226, 230) !important;
}

.nav-link {
  padding: .4rem .8rem !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e9ecef !important;
  color: black !important;
}

.table td,
.table th {
  padding: 0.1rem !important;
  vertical-align: middle !important;
}

.card {
  /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .02);*/
}
