body {
    background-color: rgb(244, 247, 250) !important;
}

br {
    font-size: 0.1rem;
}

.pageContainer {
    margin: auto;
    max-width: 1100px;
}

.funbox {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 225, 233);
    margin: 24px;
    /* 24 px */
    max-width: 1100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
}

.row {
    margin: 0px !important;
}

.smallCaps {
    font-size: .8rem;
    text-align: center;
    color: #212529;
}

.funboxTitle {
    font-size: 1.1rem;
}

.hintText {
    font-size: .75rem;
    line-height: 1.2;
}

.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nav-tabs {
    padding-bottom: 15px !important;
}

.Navbar .nav-link a {
    color: white;
    font-size: .8rem;
    font-weight: normal;
}

.navbar-brand {
    font-size: 1rem !important;
}

.Navbar .nav-link a:hover {
    color: white;
    text-decoration: none;
}

.Navbar .navbar-brand a {
    color: white;
    font-size: .9rem;
    font-weight: normal;
    display: block;
}

.Navbar .navbar-brand a:hover {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
}

/* US Map */

#us-map {
    width: 102%;
    height: 100%;
    overflow: hidden;
    max-width: 950px;
    margin: auto;
}

#g5 a {
    fill: rgb(71, 87, 188)
}

#g5 {
    fill: #d7d7d8
}

#g5 a:hover {
    /* 
  stroke: black !important;
  stroke-width:.05rem;
  stroke-linejoin: round;
  */
    fill: rgba(71, 87, 188, .8) !important;
    cursor: pointer;
}

#path67 {
    fill: none !important;
    stroke: #a9a9a9 !important;
    cursor: default;
}

/* State left column */

/* .letterGrades {
    font-size: 1.5rem;
} */

.candidateCard {
    border: 1px solid lightgrey
}

.candidateCard:hover {
    border: 1px solid lightgrey;
}

.candidates {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.districtNameInTabs {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: .9rem;
}

#candidateCheckbox:hover {
    background-color: rgb(236, 239, 251);
}

/* .candidates img {
    width: 100%;

    transition: .1s;
    -webkit-transition: .1s;
    opacity: .9;
}


.candidates button:hover img {

    transition: .1s;
    -webkit-transition: .1s;
}

.candidates button:hover {
    background-color: white;
    color: #212529;
    ;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    border-color: rgb(156, 164, 177) !important;
    transition: .1s;
    -webkit-transition: .1s;
}

.candidates button {
    max-width: 180px;
    background-color: white;
    color: #212529;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-color: rgb(219, 224, 232) !important;
    transition: .1s;
    -webkit-transition: .1s;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, .5);
    border-color: rgb(113, 173, 23) !important;
    background-color: inherit !important;
    color: inherit !important;
    transition: .1s;
    -webkit-transition: .1s !important;
}

.btn-secondary:not(:disabled):not(.disabled).active img,
.btn-secondary:not(:disabled):not(.disabled):active img,
.show>.btn-secondary.dropdown-toggle img {
    transition: .1s;
    -webkit-transition: .1s !important;
    opacity: 1;
} */

.noMarginCol {
    margin: 0;
    padding: 0 !important;
}

/* TARGET DEVICES WITH NO HOVER OR SIMULATED HOVER (I.E. IOS) */

/* MAKE SAME AS .CANDIDATES BUTTON */

@media (hover: none) {
    .candidates button:hover {
        background-color: white;
        color: #212529;
        padding: 0px;
        border-radius: 5px 5px 5px 5px;
        border-width: 1px;
        border-color: rgb(219, 224, 232) !important;
    }
}

/* State right column */

.votingCardSpacer {
    height: 126px;
}

#votingCard {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 225, 233);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 15px;
    margin-top: 24px;
    max-width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
}

#votingCardHide {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 225, 233);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 15px;
    margin-top: 24px;
    max-width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
}

.votes img {
    width: 35px;
    border-radius: 5%;
    border: 1px solid #545b62;
    /* transition: .1s;
    -webkit-transition: .1s !important; */
    /* filter: grayscale(15%); */
    /* -webkit-filter: grayscale(15%) !important; */
}

.table tr:first-child,
.table tr:first-child td {
    border-top: none !important;
}

.votes {
    margin-top: 10px;
}

.table tr td:first-child {
    width: 50px;
}

.table td {
    float: top;
    height: 50px;
}

.tableDiv {
    min-height: 200px;
    margin: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .printButton {
        visibility: hidden;
        width: 0px !important;
    }
}

.SocialMediaShareButton,
.printButton {
    margin: 3px;
    width: 25px;
    vertical-align: middle !important;
    display: inline-block;
}

.printButton {
    margin-top: 6px;
}

.ShareSection .row div {
    margin: 5px;
}

.SocialMediaShareButton:hover,
.printButton:hover {
    cursor: pointer;
    opacity: 0.75 !important;
    /* transition: 0.3s; */
}

.SocialMediaShareButton,
.printButton {
    opacity: 1;
    /* transition: 0.3s; */
}

.social-icon--whatsapp {
    display: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom-color: rgb(222, 226, 230) !important;
}

.nav-item .nav-link {
    padding: .3rem .6rem !important;
    font-size: .9rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #e9ecef !important;
    color: #212529 !important;
}

.table td,
.table th {
    padding: 0.1rem !important;
    vertical-align: middle !important;
}

.votingColumn {
    min-width: 300px;
    /* margin-bottom: 30px !important; */
}

.clearfix::after {
    display: none !important
}

@media only screen and (max-width: 1000px) and (min-width: 766px) {
    .candidatesContainer {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media only screen and (max-width: 767px) {
    .funbox {
        box-shadow: none;
        background-color: rgb(255, 255, 255);
        border: none;
        margin: 0px;
        max-width: 1100px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1rem .75rem;
        border-radius: .25rem;
    }
    @media only screen and (max-width: 600px) {
        .candidatesContainer {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
    .votingCardSpacer {
        height: 0;
    }
    #StateContainer .noMarginCol .funbox {
        margin-bottom: -200px;
    }
    #votingCard {
        /* visibility: hidden; */
        /* display: block; */
        position: fixed;
        z-index: 1;
        right: 0;
        bottom: 60px;
        flex: 1;
        height: 70%;
        width: auto;
        max-width: 410px;
        max-height: 800px;
        overflow-y: scroll;
        border-radius: 3px;
        -webkit-overflow-scrolling: touch;
        -webkit-box-shadow: 0px 0px 3000px 3000px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 0px 3000px 3000px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 3000px 1400px rgba(0, 0, 0, 0.7);
    }
    #votingCardHide {
        /* display: block; */
        visibility: hidden;
        opacity: 0;
        position: fixed;
        z-index: 1;
        right: 0;
        bottom: 60px;
        flex: 1;
        height: 70%;
        width: auto;
        max-width: 410px;
        max-height: 800px;
        overflow-y: scroll;
        border-radius: 3px;
        max-width: 767px;
        -webkit-box-shadow: 0px 0px 1400px 1400px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 0px 1400px 1400px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 1400px 1400px rgba(0, 0, 0, 0.7);
    }
    #scrollToTop {
        visibility: visible !important;
    }
    #ShareSection {
        bottom: 8px;
        right: 68px;
        position: fixed;
        padding: 0;
        margin: 0;
        z-index: 3;
    }
    #ShareSection div {
        display: flex;
        z-index: 3;
    }
    #ShareSectionHide {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    #ShareSectionHide div {
        height: 0;
    }
    #sharePrint {
        visibility: hidden;
        opacity: 0;
    }
    #learnMore {
        visibility: hidden;
    }
    .SocialMediaShareButton {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        width: 55px;
        height: 55px;
        /* border: 1px solid rgba(0,0,0,0); */
        /* // right: window.innerHeight - 100, */
        /* // top: window.innerWidth - 100 */
        /* bottom: 10px;
        right: 75px; */
        border-radius: 50%;
        z-index: 3;
        background-color: rgb(236, 239, 251);
        margin: 3px;
    }
}

/* #votingCardHide img {
    opacity: 0;
    height: 0;
    width: 0
} */

#scrollToTop {
    visibility: hidden;
}

.hiddenLink {
    color: black;
}

.hiddenLink:hover {
    text-decoration: none;
    color: black;
}

.candidatesContainer {
    grid-template-columns: repeat(2, 1fr);
}

@fontface {
    font-family: 'Open Sans', 'sans-serif';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans')
}

.dropdown-menu a button:focus,
.dropdown-menu a button:active,
.dropdown-menu a button:hover {
    background-color: inherit;
    color: black;
    text-decoration: none;
}