html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden;  */
  color: #212529;;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; */
  -webkit-overflow-scrolling: touch;
}

br {
  line-height: 0.1rem;
}